* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(234, 17%, 12%);
    text-align: center;
    color: white;
    overflow: hidden;
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 700;
}

.boxes {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 30px auto;
}

section {
    padding: 100px 0px;
}

.star-img {
    position: fixed;
    z-index: -2;
    top: 0;
    left: 0;
}

section>h2 {
    font-size: 25PX;
    font-weight: 700;
    height: auto;
    letter-spacing: 5px;
    text-align: center;
    width: 100%;
}